@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;


.homescreen-body-buttons {
  color: black;
  height: 200px;
  display: flex;
  padding: 10px;
  justify-content: center;
  overflow-x: scroll;
}
.linked-button-wrapper {
  display: flex;
  position: relative;
}

  .homescreen-button {
    margin: 10px;
    @include box(10vh);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .button-tag {
    color: $hover-colour;
    background-color: transparent; /* required as the text positioning 
    and z index causes background to appear over button, */
    text-align: center;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    width: auto;
    white-space: nowrap;
    z-index: 2; /* required as the text will otherwise be partially 
    blocked by adjacent elements */
  }