@use '../helpers/variables' as *;

.toast {
  position: absolute;
  top: 0;
  right: 28px;
  z-index: 2;
}

.toast-header {
  justify-content: space-between;
  background-color: $background-default;
  * {
    background-color: white;
  }
  button, button * {
    background-color: $background-default;
  }
}


.toast-profile {

  width: 50px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: white;
}

.toast-text-header {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  justify-content: center;
}