@mixin absolute-center() {
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

@mixin flex() {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/// Makes 'box' dimensions for the element, receiving a height and width variable.
/// @param {number} width - sets the width of the element
/// @param {number} height - sets the height of the element, if none entered, defaults to equal the width, creating a square
@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}