$brand-red: #e60012;
$brand-grey: #414548;
$hover-colour: rgb(0, 226, 226);
$layout: 2px solid red;
$background-default: rgb(238, 238, 238);
$background-lighter: whitesmoke;
$divider: 2px solid lightgrey;