
@keyframes text-scroll {
  0% {
  transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes hover-focus {
  0% {
    border: 5px solid cyan;
  }
  50% {
    border: 5px solid darkcyan;
  }

  100% {
    border: 5px solid cyan;
  }

}
@keyframes hover-focus2 {
  0% {
    border: 2px solid cyan;
  }
  50% {
    border: 2px solid darkcyan;
  }

  100% {
    border: 2px solid cyan;
  }

}