$brand-red: #e60012;
$brand-grey: #414548;
$hover-colour: rgb(0, 226, 226);
$layout: 2px solid red;
$background-default: rgb(238, 238, 238);
$background-lighter: whitesmoke;
$divider: 2px solid lightgrey;
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'A-OTF Shin Go Pro R';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/a-otf-shin-go-pro-cufonfonts-webfont/AOTFShinGoProRegular.woff') format('woff');
}
hr {
  border: 2px solid black;
  margin: 0 2%;
  margin-bottom: 10px;
}
* {
  font-family:'A-OTF Shin Go Pro R';
  background-color: $background-default;
}


.highlight {
  animation: hover-focus 1s linear infinite;
}

.header, .footer {
  height: 10%
}
.body {
  height: 80%
}

#root{
  height: 800px;
}
//? LOCKSCREEN STYLING
.lockscreen-container {
  display: flex;
  height: 100%;
  width:100%;
  .sidebar {
    background-color: $brand-grey;
    display: flex;
    flex-direction: column;
    align-items: center;

    .alt-featured-container {
      display: flex;
      height: 80%;
      background-color:violet;
      width: 100%;
      .featured {
      background-color: yellow;
      height: 25%;
      width: 80%;
      margin: 5%;
    }
  }
    .featured-container {
      display: flex;
      flex:9;
      flex-direction: column;
      width:100%;
      .featured {
      background-color: yellow;
      height: 25%;
      width: 80%;
      margin: 5%;
    }
  }
    .sidebar-featured-button-container {
      flex:1;
      border: 2px solid red;
      display: flex;
      width: 80%;

    }
  }
  .main {
    position:relative;
    .infobar-container {

    }
    .centre-content {

    }
    .continue-button-container {
      border: 2px solid red;
      bottom: 7%;
      left: 40%;
      display: flex;
      button {
        background-color: black;
        color: white;
        flex: 1
      }
      p {
        color: black;
        flex: 7;
      }
    }
  }
}


//? HOMESCREEN STYLING
.homescreen-container {
  .profile, .homescreen-button {
    border-radius: 50%;
    width:80px;
    height: 80px;
    border: none;
    background-color: white;
  }
  display: flex;
  flex-direction: column;
  height: 100%;
  .homescreen-header {
    display: flex;
    height: 10%;
    margin: 20px 50px 10px 50px;
    justify-content: space-between;
    align-items: center;
    .profile-button-container {
      position: relative;
      display: flex;
      flex-direction: column;
      .profile {
        background-image: url('../assets/images/windlink.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 3px solid white;
      }

      p {
        color: $hover-colour;
        text-align: center;
        font-size: 25px;
        position: absolute;
        width: auto;
        left: -10px;
        bottom: -60px;
        white-space: nowrap;
        z-index: 2;
      }
    }
  }

  .homescreen-body {
    // background-color: thistle;
    // height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .carousel {
      display: flex;
      height: 100%;
      align-items: center;
      padding-top: 60px;
      // margin-top: 100px;
      // margin-bottom: 30px;
      overflow-inline: scroll;
      .carousel-item-container {
        position: relative;
        :first-child {
          align-self: center;
          margin-left: 20px;
        }
        .scrolling-text {
          align-self: center;
          overflow:hidden;
          // margin: 0 auto;
          white-space: nowrap;
          position: absolute;
          top:-40px;
          // margin: 0 25px 25px;
          width: 310px;
          background-color: transparent;

          right: 6px;
          span {
            font-size: 25px;
            display: inline-block;
            background-color: transparent;
            // padding-left: 100%;
            color: $hover-colour;
            animation: text-scroll 12s linear infinite
            // text-focus 1s linear infinite;
          }
        }

        // .scrolling-text span {
        //   display: inline;
        //   animation: text-scroll 1s linear infinite;
        // }
        .carousel-item {
          border: 3px solid white;
          display: inline;
          margin:10px;
          margin-top: 0;
          width: 300px;
          height: 300px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .carousel-item.all-projects {

          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          p {
            color: $hover-colour;
            position: absolute;
            margin: 0;
            font-size: 25px;
          }
          button {
            background-color: white;
            border: none;
            position: absolute;
            height: 70%;
            width: 70%;
            top: 15%;
            border-radius: 50%;
          }

        }

      }

    }
    .homescreen-body-buttons {
      color: black;
      height: 200px;

      display: flex;
      padding: 10px;
      justify-content: center;
      overflow: visible;
      div {
        display: flex;
        flex-direction: column;
        height: 200px;
        position: relative;
        .homescreen-button {
          margin: 10px;
          height: 120px;
          width: 120px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
        p {
          color: $hover-colour;
          text-align: center;
          font-size: 25px;
          position: absolute;
          bottom: 0;
          width: auto;
          white-space: nowrap;
          // overflow: visible;

        }
      }
    }
  }
}



//? DATE COMPONENT STYLING
.date-container{
  z-index: 1;
  margin-right: 10px;
  right: 0;
  width:230px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  p {
  margin: 0;
  font-size: 20px;
  }


}

//? PROFILE PAGE STYLING


.profile-page-container {
  display: flex;
  flex-direction: column;

  .footer {
    height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }


}

.profile-header {
  display: flex;
  align-items: center;
  padding: 15px 0 15px 30px;
  img {
    border-radius: 50%;
    width: 80px;
  }
  h4 {
    margin-left: 15px;
  }
}

.profile-page-body, .settings-page-body{
  height:640px;
  overflow: scroll;
  background-color: burlywood;
  position: relative;
  display: flex;
  .profile-sidebar, .settings-sidebar{
    position:sticky;
    background-color: $background-lighter;
    top: 0;
    width: 100% *(1/3);
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-y: scroll;
    .profile-sidebar-headers {
      border:none;
      text-align: left;
      font-size: 25px;
      margin: 20px;
      padding: 20px 0;
      padding-left: 10px;
    }
    .profile-sidebar-headers:first{
      border-bottom: $divider;
    }
    // .profile-sidebar-headers::after{
    //   border: 2px solid orange;
    // }
  }

  .profile-main, .settings-main {
    overflow: auto;
    width: 100% * (2/3);
    left:25%;
    padding: 25px;
  }

  .profile-profile-tab {
      .my-info {
        display:flex;
        .profile-pic {
          width: 35%;
          margin-right: 37px;
        }
        .my-info-right {
          flex:2;
          display: flex;
          flex-direction: column;
          h3 {
            padding: 20px;
            font-size: 47px;
            border-top: $divider;
            border-bottom: $divider;
          }
          .current-play {
            display: flex;
            border-bottom: $divider;
            .current-play-img {
              flex: 1;
              width: 100px;
            }
            .current-play-text {
              flex:4;
              p:nth-child(1) {
                color: forestgreen;
              }

            }

          }
        }
      }
      .play-activity {
        margin-top: 70px;
        .play-activity-header {
          display: flex;
          justify-content: space-between;
          border-bottom: $divider;
          padding: 0 0 10px 10px;

          h5 {
            font-size: 20px;
            border-left: 6px solid rgb(95, 95, 95);
            padding-left: 10px;
          }
        }
        .skills {
          .play-container{
            display: flex;
            padding: 15px;
            .logo-container{
              width: 12.5%
            }
            .skill-description {
              padding: 10px;
              .skill-name{
                flex: 1;
                text-align: center;
                justify-self: center;
                font-size: 23px;
                margin-bottom: 0;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }

.settings-main:first-child{
  overflow: auto;
}


//? SKILLS STYLING
.team-member {
  display: flex;
  justify-content: space-between;
  a {
  color: $brand-red;
  flex: .5;
  align-self:right;
  };
  a :hover {
    color:$brand-grey;
  }
  p {
    flex: 2
  }

}


//? MODAL SKILLS
.skills-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .skill{
    flex: 0 0 20%;
    display: flex;
    width: 6rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    .skill-logo{

    };

    .skill-name{
      flex: 1;
      text-align: center;
      justify-self: center;
    }
  }
}
.footer-container {
    display: flex;
    height: 10%;
    justify-content: space-between;
    padding: 0 55px;

    .footer-switch {
      background-image: url('../assets/nintendo-icons/switch.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: none;
      border: none;
      width: 80px;
    }
    .controller-buttons-container {
      display: flex;
    }
    .footer-button {
      display: flex;
      height: 48px;
      margin-top: 15px;
      align-items: center;
      border: none;
      background-color: transparent;

      .footer-button-image {
        height: 100%;
      }
      p {
        margin:0;
        font-size: 30px;

      }
    }
  }



@keyframes text-scroll {
  0% {
  transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes hover-focus {
  0% {
    outline: 5px solid cyan;
  }
  50% {
    outline: 5px solid darkcyan;
  }

  100% {
    outline: 5px solid cyan;
  }

}

// @keyframes text-focus {
//   0% {
//     color: cyan;
//   }
//   50% {
//     color: darkcyan;
//   }

//   100% {
//     color: cyan;
//   }

.collab-card-deck {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;


}
.collab-card{
    width: 23%;
    margin: 6px;
  }

.toast-profile {
  width: 50px;
  border-radius: 50%;
  border: 3px solid white;
}

.toast {
  position: absolute;
  top: 0;
  right: 28px;
  z-index: 2;
}

.toast-header {
  justify-content: space-between;
}


.toast-text-header {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  justify-content: center;
}


