@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;


.homescreen-container {
  .profile, .homescreen-button {
    border-radius: 50%;
    @include box(80px);
    border: none;
    background-color: white;
  }
  display: flex;
  flex-direction: column;
  height: 100%;
  .homescreen-header {
    display: flex;
    height: 10%;
    margin: 20px 50px 10px 50px;
    justify-content: space-between;
    align-items: center;
    .profile-button-container {
      position: relative;
      display: flex;
      flex-direction: column;
      .profile {
        background-image: url('../../../assets/images/windlink.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 3px solid white;
      }

      p {
        color: $hover-colour;
        text-align: center;
        font-size: 25px;
        position: absolute;
        width: auto;
        left: -10px;
        bottom: -60px;
        white-space: nowrap;
        z-index: 2;
      }
    }
  }

  .homescreen-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    .carousel {
      display: flex;
      height: 100%;
      align-items: center;
      padding-top: 60px;
      // overflow-inline: scroll;
      // flex-wrap: wrap;
      // flex-direction: column;
      overflow-x: scroll;
      .carousel-item-container {
        position: relative;
        :first-child {
          align-self: center;
          margin-left: 20px;
        }
        .scrolling-text {
          align-self: center;
          overflow:hidden;
          white-space: nowrap;
          position: absolute;
          top:-40px;
          width: 40vh;
          background-color: transparent;

          right: 6px;
          span {
            font-size: 25px;
            display: inline-block;
            background-color: transparent;
            color: $hover-colour;
            animation: text-scroll 12s linear infinite
          }
        }
        .carousel-item {
          border: 3px solid white;
          display: inline;
          margin:10px;
          margin-top: 0;
          @include box(40vh);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          // display: inline-block;
        }
        .carousel-item.all-projects {

          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          p {
            color: $hover-colour;
            position: absolute;
            margin: 0;
            font-size: 25px;
          }
          button {
            background-color: white;
            border: none;
            position: absolute;
            @include box(70%);
            top: 15%;
            border-radius: 50%;
          }

        }

      }

    }
  }
}